USE [master]
GO
/****** Object:  Database [MixErpDb]    Script Date: 28.11.2019 20:33:00 ******/
CREATE DATABASE [MixErpDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MixErpDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLERP12\MSSQL\DATA\MixErpDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MixErpDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLERP12\MSSQL\DATA\MixErpDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MixErpDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MixErpDb]
GO
USE [MixErpDb]
GO
/****** Object:  Table [dbo].[bBirim]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bBirim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BirimAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bOdemeTurleri]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bOdemeTurleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuhasebeKodu] [nvarchar](10) NULL,
	[OdemeTipi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCaris]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCaris](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CariNo] [nvarchar](50) NULL,
	[CariAdi] [nvarchar](250) NULL,
	[Adres] [nvarchar](max) NULL,
	[Tel] [nvarchar](20) NULL,
	[VergiD] [nvarchar](50) NULL,
	[VergiNoTc] [nvarchar](11) NULL,
	[CariTipId] [int] NULL,
	[SehirId] [int] NULL,
	[IlceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunler]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunKodu] [nvarchar](50) NULL,
	[UrunAciklama] [nvarchar](max) NULL,
	[MenseiId] [int] NULL,
	[KategoriId] [int] NULL,
	[Birim] [int] NULL,
	[CariId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunAlisUst]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunAlisUst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlisGrupNo] [nvarchar](7) NULL,
	[CariId] [int] NULL,
	[ATarih] [date] NULL,
	[FaturaNo] [nvarchar](50) NULL,
	[Vade] [int] NULL,
	[OdemeId] [int] NULL,
	[AraToplam] [decimal](7, 2) NULL,
	[KdvToplam] [decimal](9, 2) NULL,
	[GenelToplam] [decimal](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunAlisAlt]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunAlisAlt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlisGrupNo] [nvarchar](7) NULL,
	[UrunId] [int] NULL,
	[BFiyat] [decimal](9, 2) NULL,
	[Miktar] [int] NULL,
	[BirimId] [int] NULL,
	[AToplam] [decimal](9, 2) NULL,
	[Kdv] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwUrunAlisAltUst]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwUrunAlisAltUst]
AS
SELECT        dbo.tblUrunAlisAlt.AlisGrupNo AS AlisGrupNo2, dbo.tblUrunAlisUst.AlisGrupNo, dbo.tblCaris.CariAdi, dbo.bOdemeTurleri.OdemeTipi, dbo.tblUrunAlisUst.ATarih, dbo.tblUrunAlisUst.FaturaNo, dbo.tblUrunAlisUst.Vade, 
                         dbo.tblUrunAlisUst.AraToplam, dbo.tblUrunAlisUst.KdvToplam, dbo.tblUrunAlisUst.GenelToplam, dbo.tblUrunler.UrunKodu, dbo.tblUrunler.UrunAciklama, dbo.tblUrunAlisAlt.BFiyat AS BFiyat2, dbo.tblUrunAlisAlt.Miktar AS Miktar2, 
                         dbo.bBirim.BirimAdi, dbo.tblUrunAlisAlt.Kdv AS Kdv2, dbo.tblUrunAlisAlt.AToplam, dbo.tblUrunAlisUst.Id, dbo.tblUrunAlisAlt.UrunId
FROM            dbo.tblUrunAlisAlt INNER JOIN
                         dbo.tblUrunAlisUst ON dbo.tblUrunAlisAlt.AlisGrupNo = dbo.tblUrunAlisUst.AlisGrupNo INNER JOIN
                         dbo.tblCaris ON dbo.tblUrunAlisUst.CariId = dbo.tblCaris.Id INNER JOIN
                         dbo.bOdemeTurleri ON dbo.tblUrunAlisUst.OdemeId = dbo.bOdemeTurleri.Id INNER JOIN
                         dbo.tblUrunler ON dbo.tblUrunAlisAlt.UrunId = dbo.tblUrunler.Id INNER JOIN
                         dbo.bBirim ON dbo.tblUrunAlisAlt.BirimId = dbo.bBirim.Id
GO
/****** Object:  Table [dbo].[bKategori]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bKategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgCariTipis]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgCariTipis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CariTipi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgDepartman]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgDepartman](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_blgDepartman] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bMensei]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bMensei](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenseiAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[ilce_no] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](50) NULL,
	[il_no] [int] NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ilce_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[il_no] [int] NOT NULL,
	[isim] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[il_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPersonel]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPersonel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelNo] [nvarchar](7) NULL,
	[Adi] [nvarchar](50) NULL,
	[Adres] [nvarchar](max) NULL,
	[Telefon] [nvarchar](20) NULL,
	[DepartmanId] [int] NULL,
	[IsBasTarih] [date] NULL,
	[IsSonTarih] [date] NULL,
	[DogumTarih] [date] NULL,
	[Tcno] [nvarchar](11) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblPersonel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSatisAlisAlt]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSatisAlisAlt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SatisGrupNo] [nvarchar](7) NULL,
	[UrunId] [int] NULL,
	[KarOrani] [decimal](9, 2) NULL,
	[BFiyat] [decimal](9, 2) NULL,
	[SFiyat] [decimal](9, 2) NULL,
	[Miktar] [int] NULL,
	[BirimId] [int] NULL,
	[AToplam] [decimal](9, 2) NULL,
	[Kdv] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStokDurum]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStokDurum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StokKodu] [nvarchar](7) NULL,
	[Barkod] [nvarchar](200) NULL,
	[UrunId] [int] NULL,
	[Depo] [int] NULL,
	[Raf] [int] NULL,
	[Ambar] [int] NULL,
	[OBFiyat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunAlis]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunAlis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlisGrupNo] [nvarchar](7) NULL,
	[CariId] [int] NULL,
	[ATarih] [date] NULL,
	[FaturaNo] [nvarchar](50) NULL,
	[Vade] [int] NULL,
	[OdemeId] [int] NULL,
	[UrunId] [int] NULL,
	[BFiyat] [decimal](7, 2) NULL,
	[Adet] [int] NULL,
	[BirimId] [int] NULL,
	[AraToplam] [decimal](7, 2) NULL,
	[KdvToplam] [decimal](9, 2) NULL,
	[GenelToplam] [decimal](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunSatisAlt]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunSatisAlt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SatisGrupNo] [nvarchar](7) NULL,
	[UrunId] [int] NULL,
	[KarOrani] [decimal](9, 2) NULL,
	[BFiyat] [decimal](9, 2) NULL,
	[SFiyat] [decimal](9, 2) NULL,
	[Miktar] [int] NULL,
	[BirimId] [int] NULL,
	[AToplam] [decimal](9, 2) NULL,
	[Kdv] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunSatisUst]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunSatisUst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SatisGrupNo] [nvarchar](7) NULL,
	[CariId] [int] NULL,
	[STarih] [date] NULL,
	[Vade] [int] NULL,
	[OdemeId] [int] NULL,
	[AraToplam] [decimal](7, 2) NULL,
	[KdvToplam] [decimal](9, 2) NULL,
	[GenelToplam] [decimal](7, 2) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 28.11.2019 20:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KulAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bBirim] ON 

INSERT [dbo].[bBirim] ([Id], [BirimAdi]) VALUES (1, N'Belirtilmemiş')
INSERT [dbo].[bBirim] ([Id], [BirimAdi]) VALUES (2, N'KG')
INSERT [dbo].[bBirim] ([Id], [BirimAdi]) VALUES (3, N'Adet')
SET IDENTITY_INSERT [dbo].[bBirim] OFF
SET IDENTITY_INSERT [dbo].[bKategori] ON 

INSERT [dbo].[bKategori] ([Id], [KategoriAdi]) VALUES (1, N'Belirtilmemiş')
INSERT [dbo].[bKategori] ([Id], [KategoriAdi]) VALUES (2, N'Telefon')
INSERT [dbo].[bKategori] ([Id], [KategoriAdi]) VALUES (3, N'Tablet')
SET IDENTITY_INSERT [dbo].[bKategori] OFF
SET IDENTITY_INSERT [dbo].[blgCariTipis] ON 

INSERT [dbo].[blgCariTipis] ([Id], [CariTipi]) VALUES (1, N'Belirtilmemiş')
INSERT [dbo].[blgCariTipis] ([Id], [CariTipi]) VALUES (2, N'Satıcı')
INSERT [dbo].[blgCariTipis] ([Id], [CariTipi]) VALUES (3, N'Tedarikçi')
SET IDENTITY_INSERT [dbo].[blgCariTipis] OFF
SET IDENTITY_INSERT [dbo].[blgDepartman] ON 

INSERT [dbo].[blgDepartman] ([Id], [DepartmanAdi]) VALUES (1, N'Belirtilmemiş')
INSERT [dbo].[blgDepartman] ([Id], [DepartmanAdi]) VALUES (2, N'Bilgi İşlem')
INSERT [dbo].[blgDepartman] ([Id], [DepartmanAdi]) VALUES (3, N'Çayhane')
SET IDENTITY_INSERT [dbo].[blgDepartman] OFF
SET IDENTITY_INSERT [dbo].[bMensei] ON 

INSERT [dbo].[bMensei] ([Id], [MenseiAdi]) VALUES (1, N'Belirtilmemiş')
INSERT [dbo].[bMensei] ([Id], [MenseiAdi]) VALUES (2, N'Türkiye')
INSERT [dbo].[bMensei] ([Id], [MenseiAdi]) VALUES (3, N'ABD')
SET IDENTITY_INSERT [dbo].[bMensei] OFF
SET IDENTITY_INSERT [dbo].[bOdemeTurleri] ON 

INSERT [dbo].[bOdemeTurleri] ([Id], [MuhasebeKodu], [OdemeTipi]) VALUES (1, N'0', N'Belirtilmemiş')
INSERT [dbo].[bOdemeTurleri] ([Id], [MuhasebeKodu], [OdemeTipi]) VALUES (2, N'110', N'KrediKarti')
INSERT [dbo].[bOdemeTurleri] ([Id], [MuhasebeKodu], [OdemeTipi]) VALUES (3, N'111', N'Çek')
SET IDENTITY_INSERT [dbo].[bOdemeTurleri] OFF
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([ilce_no], [isim], [il_no]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[iller] ([il_no], [isim]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[tblCaris] ON 

INSERT [dbo].[tblCaris] ([Id], [CariNo], [CariAdi], [Adres], [Tel], [VergiD], [VergiNoTc], [CariTipId], [SehirId], [IlceId]) VALUES (1, N'0000001', N'Deniyorum', N'asdfds', N'25562554', N'12354', N'1236547895', 1, 1, 1)
INSERT [dbo].[tblCaris] ([Id], [CariNo], [CariAdi], [Adres], [Tel], [VergiD], [VergiNoTc], [CariTipId], [SehirId], [IlceId]) VALUES (5, N'0000002', N'asdfg', N'avcılar', N'123456789', N'orası', N'1235', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[tblCaris] OFF
SET IDENTITY_INSERT [dbo].[tblPersonel] ON 

INSERT [dbo].[tblPersonel] ([Id], [PersonelNo], [Adi], [Adres], [Telefon], [DepartmanId], [IsBasTarih], [IsSonTarih], [DogumTarih], [Tcno], [Email]) VALUES (1, N'0000001', N'Selvinur Yağışan', N'Avcılar/İstanbul', N'5331680000', 4, CAST(N'2019-11-07' AS Date), CAST(N'2019-11-07' AS Date), CAST(N'1997-02-20' AS Date), N'15010707525', N'selviyagisann@gmail.com')
SET IDENTITY_INSERT [dbo].[tblPersonel] OFF
SET IDENTITY_INSERT [dbo].[tblStokDurum] ON 

INSERT [dbo].[tblStokDurum] ([Id], [StokKodu], [Barkod], [UrunId], [Depo], [Raf], [Ambar], [OBFiyat]) VALUES (8, N'0000001', N'deneme1-Wissen', 24, 15, 15, 0, CAST(110.00 AS Decimal(18, 2)))
INSERT [dbo].[tblStokDurum] ([Id], [StokKodu], [Barkod], [UrunId], [Depo], [Raf], [Ambar], [OBFiyat]) VALUES (10, N'0000002', N'deneme2-telefon', 25, 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[tblStokDurum] OFF
SET IDENTITY_INSERT [dbo].[tblUrunAlisAlt] ON 

INSERT [dbo].[tblUrunAlisAlt] ([Id], [AlisGrupNo], [UrunId], [BFiyat], [Miktar], [BirimId], [AToplam], [Kdv]) VALUES (5, N'0000003', 24, CAST(100.00 AS Decimal(9, 2)), 5, 2, CAST(500.00 AS Decimal(9, 2)), CAST(90.00 AS Decimal(9, 2)))
INSERT [dbo].[tblUrunAlisAlt] ([Id], [AlisGrupNo], [UrunId], [BFiyat], [Miktar], [BirimId], [AToplam], [Kdv]) VALUES (6, N'0000004', 24, CAST(120.00 AS Decimal(9, 2)), 5, 2, CAST(600.00 AS Decimal(9, 2)), CAST(108.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[tblUrunAlisAlt] OFF
SET IDENTITY_INSERT [dbo].[tblUrunAlisUst] ON 

INSERT [dbo].[tblUrunAlisUst] ([Id], [AlisGrupNo], [CariId], [ATarih], [FaturaNo], [Vade], [OdemeId], [AraToplam], [KdvToplam], [GenelToplam]) VALUES (8, N'0000001', 1, CAST(N'2019-11-26' AS Date), N'123', 1, 3, CAST(500.00 AS Decimal(7, 2)), CAST(90.00 AS Decimal(9, 2)), CAST(590.00 AS Decimal(7, 2)))
INSERT [dbo].[tblUrunAlisUst] ([Id], [AlisGrupNo], [CariId], [ATarih], [FaturaNo], [Vade], [OdemeId], [AraToplam], [KdvToplam], [GenelToplam]) VALUES (9, N'0000002', 1, CAST(N'2019-11-26' AS Date), N'123', 3, 4, CAST(500.00 AS Decimal(7, 2)), CAST(90.00 AS Decimal(9, 2)), CAST(590.00 AS Decimal(7, 2)))
INSERT [dbo].[tblUrunAlisUst] ([Id], [AlisGrupNo], [CariId], [ATarih], [FaturaNo], [Vade], [OdemeId], [AraToplam], [KdvToplam], [GenelToplam]) VALUES (10, N'0000003', 1, CAST(N'2019-11-26' AS Date), N'123', 4, 3, CAST(500.00 AS Decimal(7, 2)), CAST(90.00 AS Decimal(9, 2)), CAST(590.00 AS Decimal(7, 2)))
SET IDENTITY_INSERT [dbo].[tblUrunAlisUst] OFF
SET IDENTITY_INSERT [dbo].[tblUrunler] ON 

INSERT [dbo].[tblUrunler] ([Id], [UrunKodu], [UrunAciklama], [MenseiId], [KategoriId], [Birim], [CariId]) VALUES (24, N'deneme1', N'Wissen', 2, 2, 2, 5)
INSERT [dbo].[tblUrunler] ([Id], [UrunKodu], [UrunAciklama], [MenseiId], [KategoriId], [Birim], [CariId]) VALUES (25, N'deneme2', N'telefon', 3, 2, 3, 5)
SET IDENTITY_INSERT [dbo].[tblUrunler] OFF
SET IDENTITY_INSERT [dbo].[tblUrunSatisAlt] ON 

INSERT [dbo].[tblUrunSatisAlt] ([Id], [SatisGrupNo], [UrunId], [KarOrani], [BFiyat], [SFiyat], [Miktar], [BirimId], [AToplam], [Kdv]) VALUES (5, N'0000001', 24, NULL, CAST(110.00 AS Decimal(9, 2)), NULL, 5, 2, CAST(550.00 AS Decimal(9, 2)), CAST(148.50 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[tblUrunSatisAlt] OFF
SET IDENTITY_INSERT [dbo].[tblUrunSatisUst] ON 

INSERT [dbo].[tblUrunSatisUst] ([Id], [SatisGrupNo], [CariId], [STarih], [Vade], [OdemeId], [AraToplam], [KdvToplam], [GenelToplam], [Durum]) VALUES (8, N'0000001', 5, CAST(N'2019-11-27' AS Date), 3, 3, CAST(825.00 AS Decimal(7, 2)), CAST(148.50 AS Decimal(9, 2)), CAST(973.50 AS Decimal(7, 2)), 0)
SET IDENTITY_INSERT [dbo].[tblUrunSatisUst] OFF
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([Id], [KulAdi], [Sifre], [Role]) VALUES (1, N'Yasin', N'12345', 1)
INSERT [dbo].[tblUsers] ([Id], [KulAdi], [Sifre], [Role]) VALUES (2, N'asd', N'123', 1)
INSERT [dbo].[tblUsers] ([Id], [KulAdi], [Sifre], [Role]) VALUES (4, N'yasinA', N'456', 2)
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [fk_il_no] FOREIGN KEY([il_no])
REFERENCES [dbo].[iller] ([il_no])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [fk_il_no]
GO
ALTER TABLE [dbo].[tblCaris]  WITH CHECK ADD  CONSTRAINT [FK_tblCaris_blgCariTipis] FOREIGN KEY([CariTipId])
REFERENCES [dbo].[blgCariTipis] ([Id])
GO
ALTER TABLE [dbo].[tblCaris] CHECK CONSTRAINT [FK_tblCaris_blgCariTipis]
GO
ALTER TABLE [dbo].[tblCaris]  WITH CHECK ADD  CONSTRAINT [FK_tblCaris_ilceler] FOREIGN KEY([IlceId])
REFERENCES [dbo].[ilceler] ([ilce_no])
GO
ALTER TABLE [dbo].[tblCaris] CHECK CONSTRAINT [FK_tblCaris_ilceler]
GO
ALTER TABLE [dbo].[tblCaris]  WITH CHECK ADD  CONSTRAINT [FK_tblCaris_iller] FOREIGN KEY([SehirId])
REFERENCES [dbo].[iller] ([il_no])
GO
ALTER TABLE [dbo].[tblCaris] CHECK CONSTRAINT [FK_tblCaris_iller]
GO
ALTER TABLE [dbo].[tblPersonel]  WITH CHECK ADD  CONSTRAINT [FK_tblPersonel_blgDepartman] FOREIGN KEY([DepartmanId])
REFERENCES [dbo].[blgDepartman] ([Id])
GO
ALTER TABLE [dbo].[tblPersonel] CHECK CONSTRAINT [FK_tblPersonel_blgDepartman]
GO
ALTER TABLE [dbo].[tblSatisAlisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisAlt_bBirim] FOREIGN KEY([BirimId])
REFERENCES [dbo].[bBirim] ([Id])
GO
ALTER TABLE [dbo].[tblSatisAlisAlt] CHECK CONSTRAINT [FK_tblUrunSatisAlt_bBirim]
GO
ALTER TABLE [dbo].[tblSatisAlisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisAlt_tblUrunlers] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblUrunler] ([Id])
GO
ALTER TABLE [dbo].[tblSatisAlisAlt] CHECK CONSTRAINT [FK_tblUrunSatisAlt_tblUrunlers]
GO
ALTER TABLE [dbo].[tblStokDurum]  WITH CHECK ADD  CONSTRAINT [FK_tblStokDurum_tblUrunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblUrunler] ([Id])
GO
ALTER TABLE [dbo].[tblStokDurum] CHECK CONSTRAINT [FK_tblStokDurum_tblUrunler]
GO
ALTER TABLE [dbo].[tblUrunAlis]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlis_bOdemeTurleri] FOREIGN KEY([OdemeId])
REFERENCES [dbo].[bOdemeTurleri] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlis] CHECK CONSTRAINT [FK_tblUrunAlis_bOdemeTurleri]
GO
ALTER TABLE [dbo].[tblUrunAlis]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlis_tblCaris] FOREIGN KEY([CariId])
REFERENCES [dbo].[tblCaris] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlis] CHECK CONSTRAINT [FK_tblUrunAlis_tblCaris]
GO
ALTER TABLE [dbo].[tblUrunAlis]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlis_tblUrunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblUrunler] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlis] CHECK CONSTRAINT [FK_tblUrunAlis_tblUrunler]
GO
ALTER TABLE [dbo].[tblUrunAlisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlisAlt_bBirim] FOREIGN KEY([BirimId])
REFERENCES [dbo].[bBirim] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlisAlt] CHECK CONSTRAINT [FK_tblUrunAlisAlt_bBirim]
GO
ALTER TABLE [dbo].[tblUrunAlisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlisAlt_tblUrunlers] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblUrunler] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlisAlt] CHECK CONSTRAINT [FK_tblUrunAlisAlt_tblUrunlers]
GO
ALTER TABLE [dbo].[tblUrunAlisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlisUst_bOdemeTurleri] FOREIGN KEY([OdemeId])
REFERENCES [dbo].[bOdemeTurleri] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlisUst] CHECK CONSTRAINT [FK_tblUrunAlisUst_bOdemeTurleri]
GO
ALTER TABLE [dbo].[tblUrunAlisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunAlisUst_tblCaris] FOREIGN KEY([CariId])
REFERENCES [dbo].[tblCaris] ([Id])
GO
ALTER TABLE [dbo].[tblUrunAlisUst] CHECK CONSTRAINT [FK_tblUrunAlisUst_tblCaris]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_Birim] FOREIGN KEY([Birim])
REFERENCES [dbo].[bBirim] ([Id])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_Birim]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[bKategori] ([Id])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_KategoriId]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_MenseiId] FOREIGN KEY([MenseiId])
REFERENCES [dbo].[bMensei] ([Id])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_MenseiId]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_tblCaris] FOREIGN KEY([CariId])
REFERENCES [dbo].[tblCaris] ([Id])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_tblCaris]
GO
ALTER TABLE [dbo].[tblUrunSatisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisAlt_bBirims] FOREIGN KEY([BirimId])
REFERENCES [dbo].[bBirim] ([Id])
GO
ALTER TABLE [dbo].[tblUrunSatisAlt] CHECK CONSTRAINT [FK_tblUrunSatisAlt_bBirims]
GO
ALTER TABLE [dbo].[tblUrunSatisAlt]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisAlt_tblUrunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblUrunler] ([Id])
GO
ALTER TABLE [dbo].[tblUrunSatisAlt] CHECK CONSTRAINT [FK_tblUrunSatisAlt_tblUrunler]
GO
ALTER TABLE [dbo].[tblUrunSatisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisUst_bOdemeTurleri] FOREIGN KEY([OdemeId])
REFERENCES [dbo].[bOdemeTurleri] ([Id])
GO
ALTER TABLE [dbo].[tblUrunSatisUst] CHECK CONSTRAINT [FK_tblUrunSatisUst_bOdemeTurleri]
GO
ALTER TABLE [dbo].[tblUrunSatisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunSatisUst_tblCaris] FOREIGN KEY([CariId])
REFERENCES [dbo].[tblCaris] ([Id])
GO
ALTER TABLE [dbo].[tblUrunSatisUst] CHECK CONSTRAINT [FK_tblUrunSatisUst_tblCaris]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[21] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblUrunAlisAlt"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 172
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUrunAlisUst"
            Begin Extent = 
               Top = 12
               Left = 320
               Bottom = 245
               Right = 490
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblCaris"
            Begin Extent = 
               Top = 1
               Left = 598
               Bottom = 131
               Right = 768
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "bOdemeTurleri"
            Begin Extent = 
               Top = 135
               Left = 620
               Bottom = 248
               Right = 792
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblUrunler"
            Begin Extent = 
               Top = 226
               Left = 62
               Bottom = 356
               Right = 232
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "bBirim"
            Begin Extent = 
               Top = 250
               Left = 343
               Bottom = 346
               Right = 513
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 23
         Width = 284
         Width = 1500
      ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUrunAlisAltUst'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'   Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUrunAlisAltUst'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUrunAlisAltUst'
GO
USE [master]
GO
